/* unit in css mai percentagr hota h matlab sabka unit alag alg hoga yanha agar box1  parent ha or iska jo bhi properties hogya usa 33% chlagyaga child k pass */
/* y phir hm PN properties de sakta h child eelemnt ko */
#box1{
    height: 100px;
    width:100px;
    background-color:black;
}
#box2{
    /* apna sa apna properties bhi de sakta han */
   /* margin y jo bhi properties denga jo respective hoga box1 ka */
    height:50px;
    background-color: blue;
    width:50px;
     /* margin-top: 15%; */
     /* margin-bottom: 15%;  */
    margin-left: 25%;
    margin-top: 25%;

}