div{
    height:100px;
    width:100px;
    background-color:aqua;
    border:2px solid black;
    display:inline-block;
}
#box1{
    /* static mai elemnt fix hogyaga */
    position: static;
    top:10px;
    background-image
}

#box2{
    /* relative mai apna relative jagha sa hi move karega */
   /* position: relative;
   top:10px; 
   left:10px; */
   /* right:10px; */
   /* scrool karna k waqt fixed hogya ga */
   position:sticky
   top:50px

}
/* absolute positon mai parent tag k respective mai move karega and here box  parent tag han body */
#box3{
    position:absolute;
    top:10px;
}
#box4{
    position:fixed;
    top:10px;
}