.loader{
    width:100px;
    height:100px;
    border-radius: 50%;
    /* adar charo traf border chahia */
    /* border:2px solid black; */
    /* agar hma kisi particular jagha chahia */
    border-top: 10px solid black;
    animation: spinAnimate 0.1s ease-in-out 0s infinite normal;
}


@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}