body{
    background-color:darkslategrey;
    /* use of rbg */
    /* background-color:rgb(255,255,255); */
   /* we will manipu;ate rbg to get different color */
    /* is trha sa hm alag alag color le sakta haan */
    /* rgb */
    /* background-color: #ffff00; */
}
/* ek class h jiska hlp sa multipe elemnt ko ek sath styling kar sakta hn  saka class name same dekr*/
.heading{
color:red;
}
button{
    color:antiquewhite;
    background-color:brown
}
p{
    text-align:center;
}
h1{
    text-align:center;
    text-decoration:underline;
    text-decoration:blue underline;
    text-decoration:blue wavy underline;

}a{
    text-decoration:none;
}
 /* id selector individual elemnt ko styling karta hn */
#h1{
    font-weight:normal;

}
#h2{
    font-weight:bold;
}
#h3{
    font-weight:bolder;
}
#h4{
    font-weight:lighter;
}#h1{
    font-weight:300;

}
#h2{
    font-weight:500;
}
#h3{
    font-weight:900;
}
#h4{
    font-weight:lighter;
}#one{
    font-family:arial;
}
#three{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}