div{
    height: 100px;
    width: 100px;
    background-color: yellow; 
    border: 2px solid black;
}


#box1{
    position: static;
    background-image: url("cat_photo.jpg");
}
#box2{
    position: relative;
    top: 20px;
    left:10px;
}#box3{
    position: absolute;
    position:sticky;
    top:10px;
}
#box4{
    position:fixed;
    top:0px;
    
 }
 body{
    background-image:url("cat_photot.jpg");
    background-size:cover;
    
 }p{
    color:rgb(235, 232, 232);
 }