#one{
font-size:25px;
}
#two{
    font-size:33px;
}
#three{
    font-size:45px;
}
p{
    line-height:2px;
    line-height:normal;
    text-transform: uppercase;
    text-transform:capitalize;
    text-transform:lowercase;
    text-align:center;
}