body{
    text-align:center;
}
div{
    height:100px;
    width:100px;
    display:inline-block;
    border:2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    justify-content: left;
    justify-content: right;
  /*  justify-content: space-around;*/
  /*  justify-content: space-between;*/
   justify-content: space-evenly;
}
#box1{
    background-color:azure;
}
#box2{
   background-color:black;

}
#box3{
    background-color:brown;
}
#box4{
background-color:blue;
}
#box5{
    background-color:darkcyan;
}