*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
   /* agar borderr ko width or height mai count karna ha to  */
   border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111 ;
    color:white;
    display:flex;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width:100px;
    background-color: #0f1111;
}
.logo{
background-image: url("1.jpg" );
background-size:cover;
height:50px;
width:100%


}
.nav-search{
    display:flex;
    width:620px;
    height:30px;
}
.large{
    display:flex;
    width:500px;
}
.search-icon{
    display:flex;
    width: 40px;
    background-color:pink;
}
.search-select{
   background-color: #f3f3f3;
   width:50px;
   text-align: center; 
   border-top-left-radius: 10px;  
   border-bottom-left-radius: 10px;

}
.search-input{
    width:720px;
    font-size: 1rem;
}
.panel{
    background-color: grey;
    height:40px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    
}
.panel-ops p{
    display:inline;
    font-weight:500 ;
    margin: 50px;
}
/* hero section backgrnd img */
.hero-section{
    background-image: url("3.jpg");
    /* jab tak height y width nai denga image dikhaga nav-index */
    height: 600px;
   background-size: cover; 
    /* agar hm hero msg mai kuch changes karna chahta hhero section k respective mai to hmayaha hero section mai likhna padega  */
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: aliceblue;
    color:#0f1111;
    height:40px;
    /* jab tk display flex nai karenga jab tak text div k center mai nai ayyega */
    display:flex;
    /* verticaly center mai lena k lia */
    align-items:center;
    /* horizentally cneter mai lana k iya */
    justify-content: center;
    /* sara width or margin parent k respective mai hoga */
    width: 80%;
    margin-bottom: 30px;;
}
 .shop-section{
   display:flex;
   justify-content:space-evenly;
   background-color: grey;
   
 }
 .box{
   
    height:200px;
    width:20%
    
    
    
 }
