/* sever k default margin ko hatana k lia */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


.container{
    background-color: gainsboro;
    /* pura webpages k width lia */
    min-height:100vh;
    border:10px solid gray;
    

}
.content{
    max-width:900px;
    margin:0 auto;

}
.image_container,img{
    width:300px;
    height:320px;
}
.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}
.image_container{
    border-radius:50%;
    overflow:hidden;
}
.top-section h1{
    font-size:60px;
    font-weight:bold;
    color:burlywood;
    text-transform: uppercase;

}
.top-section  h4{
text-align:end;

}
.about-section{
    margin-top: 60px;

}
.about-section h2{
    font-size: 70px;
    margin-bottom: 30px;
}
.about-section p{
   font-size:20px; 
   /* dono sectences k bich k spacing badh gayega */
   line-height:30px;
   /* letter k bich mai space badh gayega */
  letter-spacing: 1.2px;
}
.biography-section{
  margin-top: 10px;
  margin-bottom: 50px;

}
li{
    font-size: 20px;
}